<!--<header id="header">
    <a class="logo" href="{{ site.baseurl }}" title="Blog"></a>
    <div class="title"><a href="{{ site.baseurl }}" class="nav-a">{{ site.title }}</a></div>
    <nav class="nav" id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}" class="nav-a">Blog</a><span>·</span></li>
            <li><a href="{{ site.categoriesurl }}" class="nav-a">Categories</a><span>·</span></li>
            <li><a href="{{ site.searchurl }}" class="nav-a">Search</a><span>·</span></li>
            <li><a href="{{ site.linksurl }}" class="nav-a">Links</a><span>·</span></li>
            <li><a href="{{ site.chaturl }}" class="nav-a">Chat</a><span>·</span></li>
            <li><a href="{{ site.abouturl }}" class="nav-a">About</a></li>
        </ul>
    </nav>
    <a class="menu-tool" id="menu-tool" href="javascript:void(0)"></a>
</header>-->


<header class="header select-none">
    <a class="logo" title="{{site.title}}" href="{{site.context}}/">
        <img src="{{site.context}}/static/img/logo.jpg">
    </a>
    <a class="title" href="{{site.context}}/">{{site.title}}</a>
    <nav class="menu">
        <a href="{{site.context}}/">Blog</a>
        <a href="{{site.context}}/pages/categories.html">Categories</a>
        <a href="{{site.context}}/pages/search.html">Search</a>
        <a href="{{site.context}}/pages/links.html">Links</a>
        <a href="{{site.context}}/pages/chat.html">Chat</a>
        <a href="{{site.context}}/pages/about.html">About</a>
    </nav>
    <span class="icon"></span>
</header>