<header class="header select-none">
    <a class="logo" title="{{site.title}}" href="{{site.baseurl}}/">
        <img src="{{site.baseurl}}/static/img/logo.jpg">
    </a>
    <a class="title" href="{{site.baseurl}}/">{{site.title}}</a>
    <nav class="menu">
        <a href="{{site.baseurl}}/">Blog</a>
        <a href="{{site.baseurl}}/pages/categories.html">Categories</a>
        <a href="{{site.baseurl}}/pages/search.html">Search</a>
        <a href="{{site.baseurl}}/pages/links.html">Links</a>
        <a href="{{site.baseurl}}/pages/about.html">About</a>
    </nav>
    <span class="icon"></span>
</header>